<!DOCTYPE html>
<html lang="en">
    <head>
        {% set assetVersion = 7 %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>
            {% block title %}IT Daddy{% endblock %}
        </title>

        <meta name="description" content="{% block metaDesc %}IT Daddy #1 Ranked Digital marketing Agency in Canada, focused on creating and getting website to the first page by proven strategy.{% endblock %}">
        {# <meta name="description" content="Description">  #}
        <meta name="author" content="Sergey Kolpakov">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-config" content="/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <meta name="google-site-verification" content="oMOgAfaSjsvxIJ_v8KqOqaIUTGw3P-PoeBcn2UkIC28"/>
        <link rel="icon" href="favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Fonts -->
        <style>
            body {
                background: #000;
            }

            body.loading * {
                opacity: 0 !important;
            }
        </style>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PDQP4FB');</script>
        <!-- End Google Tag Manager -->
    </head>

    <body class="loading">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDQP4FB"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% set address = '#170, IT Daddy, Richards Street, Vancouver, Canada' %}
        <header class="nk-header dad-header">
            <nav class="nk-navbar nk-navbar-top dad-header{% block headerCss %}{% endblock %}">
                {% include 'components/_header.twig' %}
            </nav>
        </header>
        {% include 'components/_mobile-nav.twig' %}

        <div class="nk-main">
            <div class="d-bg daddy-bg daddy-bg--top" data-d-empty="13" data-d="8">
                <div class="daddy-bg-viewport"></div>
            </div>

            {% block content %}{% endblock %}
            {% include 'components/_footer.twig' %}

            <div class="d-bg daddy-bg daddy-bg--bottom" data-d-empty="13" data-d="8">
                <div class="daddy-bg-viewport"></div>
            </div>
        </div>

        {% include 'components/_back-to-top.twig' %}

        <link rel="stylesheet" href="/css/layout.css?v={{assetVersion}}">
        <script src="/js/common-chunk.js?v={{assetVersion}}"></script>
        {% block js %}{% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-125612323-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-125612323-1');
        </script>
    </body>
</html>