<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>IT daddy</title>

        {# <meta name="description" content="Description">
        <meta name="keywords" content="HTML5 template, responsive, Bootstrap 4, premium, template"> #}
        <meta name="author" content="Sergey Kolpakov">

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-config" content="/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <link rel="icon" href="favicon.ico">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

        <link rel="stylesheet" href="/css/layout.css">
    </head>

    <body>
        {% set address = '422 Richards St, Suite 170, Vancouver BC V6B 2 Z4, Canada' %}
        <header class="nk-header dad-header">
            <nav class="nk-navbar nk-navbar-top dad-header{% block headerCss %}{% endblock %}">
                {% include 'components/_header.twig' %}
            </nav>
        </header>
        {% include 'components/_mobile-nav.twig' %}

        <div class="nk-main">
            <div class="d-bg daddy-bg daddy-bg--top" data-d-empty="13" data-d="8">
                <div class="daddy-bg-viewport"></div>
            </div>

            {% block content %}{% endblock %}
            {% include 'components/_footer.twig' %}

            <div class="d-bg daddy-bg daddy-bg--bottom" data-d-empty="13" data-d="8">
                <div class="daddy-bg-viewport"></div>
            </div>
        </div>

        {% include 'components/_back-to-top.twig' %}

        <!-- START: Scripts -->

        <!-- END: Scripts -->

        <script src="/js/common-chunk.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>