<div class="container">
    <div class="nk-box d-contact-benefits">
        <div class="nk-gap d-none d-lg-block"></div>
        <div class="row no-gutters">
            {# <div class="col-lg-4">
                <div class="nk-box-3 nk-box-line">
                    <div class="nk-gap-2 d-none d-lg-block"></div>
                    <div class="nk-ibox-1">
                        <div class="nk-ibox-icon nk-ibox-icon-circle">
                            <span class="ion-ios-telephone"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title pt-5 mb-0">Phone</h3>
                            <div>+ 3 (700) 123 10 78</div>
                        </div>
                    </div>
                    <div class="nk-gap-2 d-none d-lg-block"></div>
                </div>
            </div> #}
            <div class="col-lg-4">
                <div class="nk-box-3 nk-box-line">
                    <div class="nk-gap-2 d-none d-lg-block"></div>
                    <div class="nk-ibox-1">
                        <div class="nk-ibox-icon nk-ibox-icon-circle">
                            <span class="ion-ios-email"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title pt-5 mb-0">Email</h3>
                            <div>hello@itdaddy.ca</div>
                        </div>
                    </div>
                    <div class="nk-gap-2 d-none d-lg-block"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="nk-box-3 nk-box-line">
                    <div class="nk-gap-2 d-none d-lg-block"></div>
                    <div class="nk-ibox-1">
                        <div class="nk-ibox-icon nk-ibox-icon-circle">
                            <span class="ion-ios-home"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title pt-5 mb-0">Address</h3>
                            <div>422 Richards St, Suite 170, Vancouver BC V6B 2 Z4, Canada</div>
                        </div>
                    </div>
                    <div class="nk-gap-2 d-none d-lg-block"></div>
                </div>
            </div>
        </div>
        <div class="nk-gap d-none d-lg-block"></div>
    </div>

</div>