<div class="row no-gutters bg-dark-2 text-white desktop-margin d-contact-map">
    <div class="col-md-12">
        <!-- START: Google Map -->
        <div id="google-map-contact" class="nk-gmaps nk-gmaps-lg"></div>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBiqPVo8Anjm534FSZ4-89L1H1yZxfQWvU"></script>
        <script>
            function initializeGmaps() {
                var LatLng = {
                    lat: 49.283690,
                    lng: -123.111930
                };
                var mapCanvas = document.getElementById('google-map-contact');
                var mapOptions = {
                    center: LatLng,
                    scrollwheel: false,
                    zoom: 14,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    backgroundColor: 'none',
                    mapTypeId: 'KhakiStyle'
                }
                var map = new google.maps.Map(mapCanvas, mapOptions);
                var marker = new google.maps.Marker({position: LatLng, map: map, icon: 'assets/images/map-icon.png', title: 'Khaki Office'});

                // style from https://snazzymaps.com/style/151/ultra-light-with-labels
                var styledMapType = new google.maps.StyledMapType([
                    {
                        "featureType": "all",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "saturation": 36
                            }, {
                                "color": "#8e8d8d"
                            }, {
                                "lightness": 40
                            }, {
                                "weight": "0.01"
                            }, {
                                "gamma": "1.44"
                            }
                        ]
                    }, {
                        "featureType": "all",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "on"
                            }, {
                                "color": "#000000"
                            }, {
                                "lightness": 16
                            }
                        ]
                    }, {
                        "featureType": "all",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }, {
                                "hue": "#00ff57"
                            }, {
                                "lightness": "8"
                            }, {
                                "saturation": "-33"
                            }, {
                                "invert_lightness": true
                            }
                        ]
                    }, {
                        "featureType": "administrative",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#929292"
                            }, {
                                "lightness": 20
                            }
                        ]
                    }, {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#353535"
                            }, {
                                "lightness": 17
                            }, {
                                "weight": 1.2
                            }
                        ]
                    }, {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#010101"
                            }, {
                                "lightness": 20
                            }
                        ]
                    }, {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#020202"
                            }, {
                                "lightness": 21
                            }
                        ]
                    }, {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#3fa435"
                            }, {
                                "lightness": "-30"
                            }, {
                                "saturation": "0"
                            }, {
                                "gamma": "1"
                            }
                        ]
                    }, {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#000000"
                            }, {
                                "lightness": 29
                            }, {
                                "weight": 0.2
                            }
                        ]
                    }, {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#3fa435"
                            }, {
                                "lightness": "-59"
                            }, {
                                "saturation": "-35"
                            }, {
                                "weight": "0.37"
                            }, {
                                "visibility": "off"
                            }
                        ]
                    }, {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#fcfdfc"
                            }, {
                                "lightness": "6"
                            }, {
                                "saturation": "-100"
                            }, {
                                "gamma": "0.53"
                            }, {
                                "visibility": "off"
                            }
                        ]
                    }, {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            }, {
                                "lightness": 19
                            }
                        ]
                    }, {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#538ea8"
                            }, {
                                "lightness": "0"
                            }, {
                                "saturation": "-7"
                            }, {
                                "gamma": "0.5"
                            }
                        ]
                    }
                ], {name: 'KhakiStyle'});
                map.mapTypes.set('KhakiStyle', styledMapType);
            }
            if (typeof google !== 'undefined') {
                google.maps.event.addDomListener(window, 'load', initializeGmaps);
            }
        </script>
        <!-- END: Google Map -->
    </div>
</div>