{% extends "_layout.twig" %}

{% block content %}
    <div class="nk-box text-white desktop-margin d-header-style-2">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-left d-header-text-container">
                <h1>Feel free to contact us<span class="d-cursor">_</span></h1>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <!-- START: Partners -->
    <div class="nk-box">
        <div class="nk-gap-2"></div>
        <div class="container d-contact-form">
            <div class="row d-contact-benefits">
                <div class="col-lg-5">
                    <div class="nk-box-2">
                        <div class="nk-gap-1 d-none d-lg-block"></div>
                        <h2 class="nk-title text-color-main">Get in touch</h2>
                        <div class="nk-gap"></div>
                        <p>We solve the objectives of your business using advanced Internet technologies in such areas of the industry as…. Web Design & Development, SEO, PPC and Social Media.<br>Contact us today!</p>
                        <div class="nk-box-line">
                            <div class="nk-gap-2 d-none d-lg-block"></div>
                            <div class="nk-ibox-1">
                                <div class="nk-ibox-icon nk-ibox-icon-circle">
                                    <span class="ion-ios-email"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h3 class="nk-ibox-title pt-5 mb-0">Email</h3>
                                    <div>hello@itdaddy.ca</div>
                                </div>
                            </div>
                        </div>
                        <div class="nk-gap"></div>
                        <div class="nk-box-line">
                            <div class="nk-gap-2 d-none d-lg-block"></div>
                            <div class="nk-ibox-1">
                                <div class="nk-ibox-icon nk-ibox-icon-circle">
                                    <span class="ion-ios-home"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h3 class="nk-ibox-title pt-5 mb-0">Address</h3>
                                    <div>422 Richards St, Suite 170, Vancouver BC V6B 2 Z4, Canada</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 d-contacts-form">
                    <div class="nk-box-2 bg-transparent">
                        <div class="nk-gap-1"></div>
                        <form action="/contact" class="nk-form nk-form-ajax nk-form-style-1" method="post">
                            <input type="text" class="form-control required" name="name" placeholder="Name *">
                            <div class="nk-gap"></div>
                            <input type="email" class="form-control required" name="email" placeholder="Email *">
                            <div class="nk-gap"></div>
                            <input type="text" class="form-control required" name="phone" placeholder="Phone Number *">
                            <div class="nk-gap"></div>
                            <input type="text" class="form-control" name="company" placeholder="Company Name">
                            <div class="nk-gap"></div>

                            <input type="text" class="form-control" name="website" placeholder="Website">
                            <div class="nk-gap"></div>
                            <textarea class="form-control" name="message" rows="5" placeholder="What would You like to discuss?"></textarea>
                            <div class="nk-gap"></div>
                            <div class="form-group">
                                <select name="contactType" class="form-control d-select disabled-state">
                                    <option value="" disabled="disabled" selected="selected">Prefered contact method</option>
                                    <option value="email">E-mail</option>
                                    <option value="phone">Phone</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="contactTime" class="form-control d-select disabled-state">
                                    <option value="" disabled="disabled" selected="selected">Prefered contact time</option>
                                    <option value="9am-12pm">Morning (9AM - 12PM)</option>
                                    <option value="12pm-5pm">Afternoon (12PM - 5PM)</option>
                                    <option value="5pm+">Evening (After 5PM)</option>
                                </select>
                            </div>
                            <div class="nk-form-response-success"></div>
                            <div class="nk-form-response-error"></div>
                            <div class="nk-gap"></div>
                            <button class="d-btn d-btn-regular nk-btn-effect-2-right">
                                <span>Send</span>
                                <span class="icon">
                                    <i class="ion-paper-airplane"></i>
                                </span>
                            </button>
                        </form>
                        <div class="nk-gap-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Partners -->

    {% include './_map.twig' %}
{% endblock %}

{% block js %}
    <script src="/js/contacts.js?v={{assetVersion}}"></script>
{% endblock %}