{% extends "_layout.twig" %}

{% block content %}
    <div class="nk-box text-white desktop-margin d-header-style-2">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-left d-header-text-container">
                <h1>
                    Fell Free to Contact Us<span class="d-cursor">_</span>
                </h1>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    {% include './_contact-benefits.twig' %}

    <!-- START: Partners -->
    <div class="nk-box">
        <div class="bg-image bg-image-parallax op-2">
            <img class="jarallax-img" src="assets/images/contacts-bg.jpg" alt="">
        </div>
        <div class="nk-gap-4"></div>
        <div class="container d-contact-form">
            <div class="row">
                <div class="col-lg-5">
                    <div class="nk-box-2">
                        <div class="nk-gap-1 d-none d-lg-block"></div>
                        <h2 class="nk-title">Get in touch</h2>
                        <div class="nk-gap"></div>
                        <p>We solve the objectives of your business using advanced Internet technologies in such areas of the industry as…. Web Design & Development, SEO, PPC and Social Media.</p>
                        <p>We Are IT Daddy</p>
                        <p>Contact us today!</p>
                    </div>
                </div>
                <div class="col-lg-7 d-contacts-form">
                    <div class="nk-box-2 bg-black">
                        <div class="nk-gap-1"></div>
                        <form action="/contact" class="nk-form nk-form-ajax nk-form-style-1" method="post">
                            <input type="email" class="form-control required" name="email" placeholder="Email *">
                            <div class="nk-gap"></div>
                            <input type="text" class="form-control required" name="name" placeholder="Name *">
                            <div class="nk-gap"></div>
                            <textarea class="form-control required" name="message" rows="5" placeholder="Message *"></textarea>
                            <div class="nk-gap"></div>
                            <div class="nk-form-response-success"></div>
                            <div class="nk-form-response-error"></div>
                            <button class="d-btn d-btn-regular nk-btn-effect-2-right">
                                <span>Send</span>
                                <span class="icon">
                                    <i class="ion-paper-airplane"></i>
                                </span>
                            </button>
                        </form>
                        <div class="nk-gap-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Partners -->

    {% include './_map.twig' %}
{% endblock %}

{% block js %}
    <script src="js/contacts.js"></script>
{% endblock %}