<ul class="nk-isotope-filter d-filter">
    <li class="active" data-filter="*">All</li>
    <li data-filter="Forest">Forest</li>
    <li data-filter="Mountains">Mountains</li>
    <li data-filter="Water">Water</li>
    <li data-filter="Road">Road</li>
    <li data-filter="Custom">Custom</li>
</ul>