{% extends "_layout.twig" %}

{% block content %}
    <div class="nk-box text-white desktop-margin d-header-style-2">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-left d-header-text-container">
                <h1>
                    Our work<span class="d-cursor">_</span>
                </h1>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-gap-4"></div>
    <div class="container d-our-work-list">
        {% include './_filter.twig' %}

        <div class="nk-portfolio-list-2">

            <div class="nk-portfolio-item">
                <div class="nk-image-box-1 nk-portfolio-image-box d-port-image-box">
                    <a href="/our-work/project" class="nk-image-box-link"></a>

                    <div class="nk-portfolio-image d-lg-block glitch glitch--style-8">
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                    </div>

                </div>
                <div class="nk-portfolio-text-box">
                    <div class="port-bg">
                        <h2 class="h3">
                            <a href="/our-work/project" class="nk-portfolio-title">Foggy Forest</a>
                        </h2>

                        <div class="nk-gap"></div>
                        <p>Yielding shall rule doesn't sixth our hath gathered beast, so and creepeth earth void place them very Is evening creature evening third also shall seed divided heaven light You so all fourth the. Seas his morning make land. In god.</p>

                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>

            <div class="nk-portfolio-item inverted">
                <div class="nk-image-box-1 nk-portfolio-image-box">
                    <a href="/our-work/project" class="nk-image-box-link"></a>
                    <div class="nk-portfolio-image d-lg-block glitch glitch--style-8">
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                    </div>
                </div>
                <div class="nk-portfolio-text-box">
                    <div class="port-bg">
                        <h2 class="h3">
                            <a href="/our-work/project" class="nk-portfolio-title">Grand mountains</a>
                        </h2>

                        <div class="nk-gap"></div>
                        <p>Life have called tree bring so i she'd set also fill which first thing all dominion very. Make said light. God he tree created make a stars it darkness very a over light all she'd. Firmament fruitful which dominion. Firmament.</p>

                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>

            <div class="nk-portfolio-item">
                <div class="nk-image-box-1 nk-portfolio-image-box d-port-image-box">
                    <a href="/our-work/project" class="nk-image-box-link"></a>

                    <div class="nk-portfolio-image d-lg-block glitch glitch--style-8">
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                    </div>

                </div>
                <div class="nk-portfolio-text-box">
                    <div class="port-bg">
                        <h2 class="h3">
                            <a href="/our-work/project" class="nk-portfolio-title">Foggy Forest</a>
                        </h2>

                        <div class="nk-gap"></div>
                        <p>Yielding shall rule doesn't sixth our hath gathered beast, so and creepeth earth void place them very Is evening creature evening third also shall seed divided heaven light You so all fourth the. Seas his morning make land. In god.</p>

                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>
        </div>

        {% include 'components/_call-to-action-2.twig' %}

    </div>

{% endblock %}

{% block js %}
    <script src="/js/index.js"></script>
{% endblock %}