{% extends "_layout.twig" %}

{% block content %}
    <div class="nk-box text-white desktop-margin d-header-style-2 d-header-style-2--our-work">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-left d-header-text-container">
                <h1>Our work<span class="d-cursor">_</span></h1>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-gap-4"></div>
    <div class="container d-our-work-list">
        <div class="nk-portfolio-list-2">
            <div class="nk-portfolio-item">
                <div class="nk-image-box-1 nk-portfolio-image-box d-port-image-box">
                    <a href="/our-work" class="nk-image-box-link"></a>

                    <div class="nk-portfolio-image d-lg-block glitch glitch--style-15">
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                    </div>

                </div>
                <div class="nk-portfolio-text-box">
                    <div class="port-bg">
                        <h2 class="h3">
                            <span class="nk-portfolio-title">Sewport</spann>
                        </h2>

                        <div class="nk-gap"></div>
                        <p>An online platform connecting brands and clothing manufacturers. From sketch to production and everything in-between. Turn ideas into products with all the services in one place. From design, pattern making and sampling all the way to bulk production.</p>
                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>
            <div class="nk-portfolio-item inverted">
                <div class="nk-image-box-1 nk-portfolio-image-box">
                    <a href="/our-work" class="nk-image-box-link"></a>
                    <div class="nk-portfolio-image d-lg-block glitch glitch--style-10">
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                    </div>
                </div>
                <div class="nk-portfolio-text-box">
                    <div class="port-bg">
                        <h2 class="h3">
                            <span class="nk-portfolio-title">Chip</spann>
                        </h2>

                        <div class="nk-gap"></div>
                        <p>AI-powered chat bot that automates your savings 💸. Connect Chip to your current account. Stash away money automatically and hit your goals without even trying. Get out of your overdraft.</p>
                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>
            <div class="nk-portfolio-item">
                <div class="nk-image-box-1 nk-portfolio-image-box d-port-image-box">
                    <a href="/our-work" class="nk-image-box-link"></a>

                    <div class="nk-portfolio-image d-lg-block glitch glitch--style-11">
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                    </div>

                </div>
                <div class="nk-portfolio-text-box">
                    <div class="port-bg">
                        <h2 class="h3">
                            <span class="nk-portfolio-title">Frank taxibot</spann>
                        </h2>

                        <div class="nk-gap"></div>
                        <p>Frank is a B2B partnership for taxi companies and aggregators. Allows customers to order taxis in their apps around the world. Allows taxi companies to share orders for customer retention. Allows to receive orders from social media. Saves the brands of taxi companies and allows to compete with global aggregators such as Uber, Yandex.Taxi, etc.</p>
                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>
            <div class="nk-portfolio-item inverted">
                <div class="nk-image-box-1 nk-portfolio-image-box">
                    <a href="/our-work" class="nk-image-box-link"></a>
                    <div class="nk-portfolio-image d-lg-block glitch glitch--style-14">
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                    </div>
                </div>
                <div class="nk-portfolio-text-box">
                    <div class="port-bg">
                        <h2 class="h3">
                            <span class="nk-portfolio-title">Roamer SIM</spann>
                        </h2>

                        <div class="nk-gap"></div>
                        <p>Near-local data and call rates. Low-cost voice and data in 118 countries. It is often handy to have a local phone number in country of travel. Add your regular mobile number to Roamer SIM and never miss a call from your friends, family or partners. See your balance, top up and get full support with the Roamer SIM app.</p>
                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>

            <div class="nk-portfolio-item inverted">
                <div class="nk-image-box-1 nk-portfolio-image-box d-port-image-box">
                    <a href="/our-work" class="nk-image-box-link"></a>

                    <div class="nk-portfolio-image d-lg-block glitch glitch--style-9">
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                    </div>

                </div>
                <div class="nk-portfolio-text-box">
                    <div class="port-bg">
                        <h2 class="h3">
                            <span class="nk-portfolio-title">Bilderlings pay</span>
                        </h2>

                        <div class="nk-gap"></div>
                        <p>Card payments via your website or app. Receive payments by card in 34 currencies from customers anywhere in the world. Transaction fees start at 1%. Maximum customer data security compliant with PCI DSS.</p>
                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>

            <div class="nk-portfolio-item">
                <div class="nk-image-box-1 nk-portfolio-image-box d-port-image-box">
                    <a href="/our-work" class="nk-image-box-link"></a>

                    <div class="nk-portfolio-image d-lg-block glitch glitch--style-13">
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                    </div>

                </div>
                <div class="nk-portfolio-text-box">
                    <div class="port-bg">
                        <h2 class="h3">
                            <span class="nk-portfolio-title">Korso</spann>
                        </h2>

                        <div class="nk-gap"></div>
                        <p>The modern shopping centre, created in the spirit of the best traditions of Jurmala, is equipped with everything necessary for recreation and entertainment of guests and residents of the resort. A wide selection of shops will allow you to make all the necessary purchases and how to relax.</p>
                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>

            <div class="nk-portfolio-item inverted">
                <div class="nk-image-box-1 nk-portfolio-image-box">
                    <a href="/our-work" class="nk-image-box-link"></a>
                    <div class="nk-portfolio-image d-lg-block glitch glitch--style-12">
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                    </div>
                </div>
                <div class="nk-portfolio-text-box">
                    <div class="port-bg">
                        <h2 class="h3">
                            <span href="/our-work" class="nk-portfolio-title">Imanta Garden</span>
                        </h2>

                        <div class="nk-gap"></div>
                        <p>Is a new residential complex, which includes a 3-storey house for 15 apartments with underground parking and 8 townhouses with separate plots of land. All buildings create a single modern architectural ensemble, which is ideally inscribed in the green private sector of the Imants’ sleeping area in Riga.</p>
                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>

        </div>

        {% include 'components/_call-to-action-2.twig' %}

    </div>

{% endblock %}

{% block js %}
    <script src="/js/index.js?v={{assetVersion}}"></script>
{% endblock %}