.d-footer-links {
  list-style-type: none;
  padding: 0;
  text-align: center;

  @media #{$m_tablet} {
    padding: 0 70px;
    text-align: left;
  }
}

.d-footer-links a {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44em;
  letter-spacing: normal;
  color: #9b9b9b;
  transition: color 0.4s ease-out;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.d-footer-links li {
  padding-bottom: 11px;
}

.d-footer-menu {
  display: flex;
  flex-basis: 66%;
  flex-direction: column; //

  @media #{$m_tablet} {
    flex-direction: row; //
  }
}

.d-footer-logo {
  margin: 0 auto;
  margin-bottom: 40px;

  @media #{$m_tablet} {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.d-footer-social-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.d-footer-social-links a {
  margin-left: 20px;
  transition: transform 0.3s ease-in;
}

.d-footer-social-links a:hover {
  transform: scale(1.1);
}

.d-footer-address {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  margin-right: -16px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  @media #{$m_tablet} {
    margin-top: 60px;
    flex-direction: row;
  }

  @media #{$m_desktop} {
    margin-bottom: 125px;
    margin-right: 0;
    align-items: flex-start;
    margin-top: 0;
  }

  a {
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    max-width: 300px;
    display: inline-flex;
    transition: color 0.3s ease;
    margin-bottom: 10px;

    @media #{$m_tablet} {
      margin-bottom: 0;
    }

    @media #{$m_desktop} {
      text-align: right;
      margin-right: 16px;
      margin-top: 0;
    }

    &:hover {
      color: #00e676;
      text-decoration: none;
    }
  }
}

.d-footer-content {
  padding-bottom: 20px;
  padding-top: 68px;

  @media #{$m_tablet} {
    padding-bottom: 40px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media #{$m_desktop} {
      flex-direction: row;
    }
  }
}

.d-footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  flex-direction: column;

  @media #{$m_tablet} {
    flex-direction: row;
  }

  .d-give-a-h {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00e676;

    span {
      display: block;

      @media #{$m_tablet} {
        display: inline;
      }
    }
  }
}

.nk-copyright {
  padding: 20px 0 70px;

  @media #{$m_tablet} {
    padding: 60px 0;
    padding-top: 0;
  }

  @media #{$m_desktop} {
    padding: 60px 0;
  }
}
