$background: #fff;

$linkColor: #666;
$linkHover: #000;

$m-mobile--wide: "(min-width: 376px)";
$m-tablet: "(min-width: 768px)";
$m-tablet--wide: "(min-width: 1024px)";
$m-desktop: "(min-width: 1281px)";
$m-desktop-18: "(min-width: 1440px)";
$m-desktop--wide: "(min-width: 1980px)";
