<div class="container d-icon-boxes">
    <div class="row vertical-gap">
        <div class="col-md-4 col-sm-6 pl-40 pr-40 pt-25">
            <div class="nk-ibox-3 nk-ibox-hover">
                <img src="assets/images/benefit-research.svg" class="d-benefits-icon" alt="">
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title">Research</h3>
                    <span>Research is what we start with. Clearly defined goals and long-term strategy is what successful projects are based on.</span>
                    <br>
                    <br>
                    <span>We investigate target audience in order to understand people we are going to deal with. We need to understand their habits, their wishes and needs to determine the best way of communication with ones.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 pl-40 pr-40 pt-25">
            <div class="nk-ibox-3">
                <img src="assets/images/benefit-design.svg" class="d-benefits-icon" alt="">
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title">Design</h3>
                    <span>We truly like this phase. Here future products find their embodiment in prototypes and mock-ups, the platform for developers is being prepared.</span>
                    <br>
                    <br>
                    <span>This step consists of information architecture, interaction design, quest for visual solutions, and it all leads to a precise technical task for developers.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 pl-40 pr-40 pt-25">
            <div class="nk-ibox-3 nk-ibox-hover">
                <img src="assets/images/benefit-production.svg" class="d-benefits-icon" alt="">
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title">
                        <a href="#">Production & Support</a>
                    </h3>
                    <span>Now it's the time for our technically oriented teammates to enter the stage. They make designers' dreams work, they test, debug and eventually launch the product!</span>
                    <br>
                    <br>
                    <span>Such things as focus group discussions and eye-tracking tests happen here. And we stay with you until we reach the best version we can.</span>
                </div>
            </div>
        </div>

    </div>

    <div class="nk-gap-4"></div>
</div>