<div class="nk-box d-counter text-white text-center">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4 col-sm-6">
                <div class="nk-box-1 nk-box-line nk-box-line-top">
                    <div class="nk-counter-3">
                        <div class="nk-count mb-5">867</div>
                        <h3 class="nk-counter-title h5">Projects</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="nk-box-1 nk-box-line nk-box-line-top">
                    <div class="nk-counter-3">
                        <div class="nk-count mb-5">78</div>
                        <h3 class="nk-counter-title h5">Projects</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="nk-box-1 nk-box-line nk-box-last nk-box-line-top">
                    <div class="nk-counter-3">
                        <div class="nk-count mb-5">589</div>
                        <h3 class="nk-counter-title h5">Projects</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>