<div class="nk-box d-counter text-white text-center">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4 col-sm-6">
                <div class="nk-box-1 nk-box-line nk-box-line-top">
                    <div class="nk-counter-3">
                        <div class="nk-count mb-5">4223</div>
                        <h3 class="nk-counter-title h5">Screens designed</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="nk-box-1 nk-box-line nk-box-line-top">
                    <div class="nk-counter-3">
                        <div class="nk-count mb-5">823235</div>
                        <h3 class="nk-counter-title h5">Strings coded</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="nk-box-1 nk-box-line nk-box-last nk-box-line-top">
                    <div class="nk-counter-3">
                        <div class="nk-count mb-5">829182</div>
                        <h3 class="nk-counter-title h5">SEO optimized</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>