<footer class="nk-footer ">
    <div class="d-footer-content">
        <div class="container">
            <div class="d-footer-menu">
                <a href="/" class="nk-nav-logo d-footer-logo">
                    <img src="assets/images/logo.svg" alt="" class="d-logo d-logo--header">
                </a>

                <ul class="d-footer-links">
                    <li>
                        <a href="/what-we-do/web-development">
                            Web dev and design
                        </a>
                    </li>
                    <li>
                        <a href="/what-we-do/organic-seo">
                            Organic SEO
                        </a>
                    </li>
                    <li>
                        <a href="/what-we-do/social-media">
                            Social Media Marketing
                        </a>
                    </li>
                    <li>
                        <a href="/what-we-do/ppc">
                            Pay Per Click
                        </a>
                    </li>
                    <li>
                        <br>
                    </li>
                    <li>
                        <a href="/our-work">Our work</a>
                    </li>
                    <li>
                        <a href="/about">About us</a>
                    </li>
                    <li>
                        <a href="/contacts">Contact us</a>
                    </li>
                </ul>

                <ul class="d-footer-links">
                    <li>
                        <a href="https://www.facebook.com/itdaddy.ca/?modal=admin_todo_tour">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/itdaddy_ca">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/it-daddy/">LinkedIn</a>
                    </li>
                </ul>
            </div>

            <div class="d-footer-social">
                <div class="d-footer-address">
                    <a target="_blank" href="https://www.google.com/maps/search/%23170,+IT+Daddy,+Richards+Street,+Vancouver,+Canada/@49.2836965,-123.1143976,17z/data=!3m1!4b1">{{ address }}</a>
                    <svg width="20px" height="24px" viewbox="0 0 20 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: sketchtool 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                        <title>D94E201B-2F64-4F2E-B907-E8921B7A2FDE</title>
                        <desc>Created with sketchtool.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="daddy-main-page" transform="translate(-1313.000000, -3993.000000)" fill="#00e676" fill-rule="nonzero">
                                <path d="M1330.07214,3995.96243 C1330.07214,3995.96243 1330.07214,3995.93381 1330.07214,3995.96243 C1326.16832,3992.01252 1319.83168,3992.01252 1315.92786,3995.96243 C1315.92786,3995.96243 1315.92786,3995.96243 1315.92786,3995.96243 C1312.02405,3999.91234 1312.02405,4006.35242 1315.92786,4010.30233 L1322.20792,4016.65653 C1322.43423,4016.88551 1322.71711,4017 1323,4017 C1323.28289,4017 1323.56577,4016.88551 1323.79208,4016.65653 L1330.07214,4010.2737 C1333.97595,4006.32379 1333.97595,3999.91234 1330.07214,3995.96243 Z M1323,4007.57002 C1320.38153,4007.57002 1318.25403,4005.4174 1318.25403,4002.76801 C1318.25403,4000.11863 1320.38153,3997.96601 1323,3997.96601 C1325.61847,3997.96601 1327.74597,4000.11863 1327.74597,4002.76801 C1327.74597,4005.4174 1325.61847,4007.57002 1323,4007.57002 Z" id="loc"></path>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>

        </div>

    </div>
    <div class="nk-copyright">
        <div class="container text-center d-footer-copyright">
            <span>&copy; 2018 IT Daddy. All rights reserved</span>
            <span class="d-give-a-h">Baked and developed with 💚<span>in 🇨🇦Canada</span></span>
        </div>
    </div>
</footer>