<div class="container">
    <div class="nk-nav-table">
        <a href="/" class="nk-nav-logo">
            <img src="assets/images/logo.svg" class="d-logo d-logo--header" alt="">
        </a>
        <ul class="nk-nav nk-nav-center d-none d-lg-table-cell" data-nav-mobile="#nk-nav-mobile">
            <li>
                <a href="/our-work">Our work</a>
            </li>
            <li class="nk-drop-item">
                <a>What we do</a>
                <ul class="dropdown">
                    <li>
                        <a href="/what-we-do/web-development">
                            Web development and design
                        </a>
                    </li>
                    <li>
                        <a href="/what-we-do/organic-seo">
                            Organic SEO
                        </a>
                    </li>
                    <li>
                        <a href="/what-we-do/social-media">
                            Social Media Marketing
                        </a>
                    </li>
                    <li>
                        <a href="g/what-we-do/ppc">
                            Pay Per Click
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/about">About us</a>
            </li>
        </ul>
        <ul class="nk-nav nk-nav-right nk-nav-icons">
            <li>
                <a href="/contacts" class="d-btn d-btn-border no-link-effect d-header-contact">Contact us</a>
            </li>
            <li class="single-icon d-lg-none">
                <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
                    <span class="nk-icon-burger">
                        <span class="nk-t-1"></span>
                        <span class="nk-t-2"></span>
                        <span class="nk-t-3"></span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>