<div class="d-hero nk-header-title nk-header-title-parallax nk-header-title-parallax-opacity nk-header-title-parallax-blur text-left dad-header-bg">
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">
                <div class="nk-header-text">
                    <h1 class="nk-title display-4">
                        We solve the objectives of your business using advanced Internet technologies in such areas of the industry as
                        <span class="nk-typed d-header-typed pr-20 pr-10 pl-10 d-inline-block" data-back-delay="2000" data-type-speed="50" data-back-speed="20" data-cursor="_">
                            <span>Web Design & Development</span>
                            <span>SEO</span>
                            <span>PPC</span>
                            <span>Social Media</span>
                            <span>Digital Marketing</span>
                        </span>
                    </h1>
                    <div class="nk-gap-3"></div>
                    <a href="/our-work" class="d-btn d-btn-border-bot">
                        View works
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>