<div class="nk-box d-image-block d-nk-box">
    <div class="nk-gap-2"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 d-custom-bg d-bg{% if imageLeft is not defined %} text-right order-md-2{% endif %}" data-d="300">
                <div class="d-custom-bg-viewport daddy-bg-viewport"></div>

                {% if icon is defined %}
                    <div class="d-image-block__icon text-center">
                        <img src="assets/images/{{ icon }}">
                    </div>
                {% else %}
                    <div class="d-glich-item-wrap">
                        <div class="glitch glitch--style-8">
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                        </div>
                    </div>

                {% endif %}
                <div class="nk-gap d-md-none"></div>
            </div>
            <div class="col-md-6{% if imageLeft is defined %} text-left order-md-2{% endif %}">
                <h2 class="h1 nk-title">{{ title }}</h2>
                <p>
                    {{ text }}
                </p>
                <a href="what-we-do.html" class="d-btn d-btn-border-bot">See what we do</a>
            </div>
        </div>
    </div>
    <div class="nk-gap-5"></div>
</div>