<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-left-side nk-navbar-overlay-content nk-navbar-blur d-lg-none">
    <div class="nano">
        <div class="nano-content">
            <div class="nk-nav-table">
                <div class="nk-nav-row">
                    <a href="index.html" class="nk-nav-logo">
                        <img src="assets/images/logo.svg" class="d-logo d-logo--mobile" alt="">
                    </a>
                </div>
                <div class="nk-nav-row nk-nav-row-full nk-nav-row-top">
                    <div class="nk-navbar-mobile-content">
                        <ul class="nk-nav">
                            <li>
                                <a href="index.html" class="link-effect-3 ready">
                                    <span>
                                        <span class="link-effect-shade">Contact us</span>
                                        Contact us
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>