<div class="nk-box d-text-block text-center text-white" style="transform: translate3d(0px, 0px, 0px);overflow: visible;">
    <div class="container">
        <div class="row">
            <div class="col-12 d-custom-bg d-bg" data-d="4">
                <div class="d-custom-bg-viewport d-custom-bg-viewport--ca daddy-bg-viewport"></div>

                <h2 class="h1 nk-title">We Are
                    <span class="nk-typed d-header-typed  pb-10 d-inline-block" data-back-delay="2000" data-type-speed="50" data-back-speed="20" data-cursor="|">
                        <span>Young</span>
                        <span>Awesome</span>
                        <span>Geek</span>
                        <span>Sexy</span>
                        <span>Nerd</span>
                        <span>Techie</span>
                        <span>Unicorny</span>
                    </span>
                    People</h2>
                <div class="nk-gap"></div>
                <a href="/our-work" class="d-btn d-btn-regular">View our latest works</a>
            </div>
        </div>
    </div>
    <div class="nk-gap-3"></div>
</div>