{% include './_portfolio-heading.twig' %}

<div class="container d-portfolio">
    <div class="row vertical-gap">
        <div class="col-md-12">
            <div class="nk-isotope d-portfolio-isotope">
                <div class="nk-portfolio-item nk-isotope-item nk-isotope-item-x2 active">
                    <div class="nk-image-box ratio ratio1_1">
                        <div class="glitch glitch--style-1 nk-portfolio-image">
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                        </div>
                        <div class="nk-image-box-overlay nk-image-box-bottom text-left">
                            <div>
                                <div class="nk-box-1 pl-0 pr-0">
                                    <h2 class="nk-image-box-big-title">ICO project development for CCI company</h2>
                                    <a href="/our-work/project" class="d-btn d-btn-border d-btn-color-blue no-link-effect">View project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-portfolio-item nk-isotope-item nk-isotope-item-x2">
                    <div class="nk-image-box ratio ratio2_1">
                        <div class="glitch glitch--style-6 nk-portfolio-image">
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                        </div>
                        <div class="nk-image-box-overlay nk-image-box-bottom text-left">
                            <div>
                                <div class="nk-box-1 pl-0 pr-0">
                                    <h2 class="nk-image-box-big-title">ICO project development for CCI company</h2>
                                    <a href="/our-work/project" class="d-btn d-btn-border d-btn-color-blue no-link-effect">View project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-portfolio-item nk-isotope-item nk-isotope-item-x2">
                    <div class="nk-image-box ratio ratio2_1">
                        <div class="glitch glitch--style-5 nk-portfolio-image">
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                        </div>
                        <div class="nk-image-box-overlay nk-image-box-bottom text-left">
                            <div>
                                <div class="nk-box-1 pl-0 pr-0">
                                    <h2 class="nk-image-box-big-title">ICO project development for CCI company</h2>
                                    <a href="/our-work/project" class="d-btn d-btn-border d-btn-color-blue no-link-effect">View project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-portfolio-item nk-isotope-item">
                    <div class="nk-image-box ratio ratio1_2">
                        <div class="glitch glitch--style-4 nk-portfolio-image">
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                        </div>
                        <div class="nk-image-box-overlay nk-image-box-bottom text-left">
                            <div>
                                <div class="nk-box-1 pl-0 pr-0">
                                    <h2 class="nk-image-box-big-title">ICO project development for CCI company</h2>
                                    <a href="/our-work/project" class="d-btn d-btn-border d-btn-color-blue no-link-effect">View project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-portfolio-item nk-isotope-item nk-isotope-item-x2">
                    <div class="nk-image-box ratio ratio1_1">
                        <div class="glitch glitch--style-3 nk-portfolio-image">
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                        </div>
                        <div class="nk-image-box-overlay nk-image-box-bottom text-left">
                            <div>
                                <div class="nk-box-1 pl-0 pr-0">
                                    <h2 class="nk-image-box-big-title">ICO project development for CCI company</h2>
                                    <a href="/our-work/project" class="d-btn d-btn-border d-btn-color-blue no-link-effect">View project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-portfolio-item nk-isotope-item">
                    <div class="nk-image-box ratio ratio1_1">
                        <div class="glitch glitch--style-7 nk-portfolio-image">
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                        </div>
                        <div class="nk-image-box-overlay nk-image-box-bottom text-left">
                            <div>
                                <div class="nk-box-1 pl-0 pr-0">
                                    <h2 class="nk-image-box-big-title">ICO project development for CCI company</h2>
                                    <a href="/our-work/project" class="d-btn d-btn-border d-btn-color-blue no-link-effect">View project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-portfolio-item nk-isotope-item">
                    <div class="nk-image-box ratio ratio1_1">
                        <div class="glitch glitch--style-2 nk-portfolio-image">
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                        </div>
                        <div class="nk-image-box-overlay nk-image-box-bottom text-left">
                            <div>
                                <div class="nk-box-1 pl-0 pr-0">
                                    <h2 class="nk-image-box-big-title">ICO project development for CCI company</h2>
                                    <a href="/our-work/project" class="d-btn d-btn-border d-btn-color-blue no-link-effect">View project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="nk-gap-4"></div>
</div>