<div class="nk-breadcrumbs text-white d-breadcrumbs">
    <div class="container">
        <ul>
            <li>
                <span>{{ name }}</span>
            </li>
        </ul>
    </div>
    <div class="nk-gap"></div>
</div>