<div class="container d-service-ca pt-50 pb-50">
    <div class="title">Tailor-made Strategy</div>
    <p>Every business needs an individual marketing strategy that meets all special requirements of the company, together with a customized design of your website that goes in hand with your marketing plan.</p>
    <a href="/contacts" class="d-btn d-btn-regular">Get in touch</a>
</div>