{% extends "_layout.twig" %}

{% block content %}
    <div class="nk-box text-white desktop-margin d-header-style-2 d-header-style-2--media">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-left d-header-text-container">
                <h1>
                    Social Media Promotion Services<span class="d-cursor">_</span>
                </h1>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <div class="container text-white">

        {% include './_breadcrumbs.twig' with {
            name : 'Social Media Promotion'
        } %}
        <h3>Promotion on social media websites</h3>
        <p class="d-service-text">
            Research, from March 2017, shows that there are 1.86 bln on Facebook every month. The average increase rate of new users is 17% each year. There is a huge potential that a large part of those users can become your customers.
            <br><br>
            Our team will carry out a detailed analysis of your social media sources and will offer a tailor-made consultancy together with the best solution to fix any problems you may face. IT Daddy Corp will provide a professional solution to help your business reach out to the potential customers on the social media resources, by increasing the number of those users reached – which is the majority of the world’s population, as it’s hard to find a person that does not use any source of social media now.
        </p>
        <div class="nk-gap-3"></div>
    </div>

    <div class="container d-icon-boxes d-icon-boxes--small">
        <div class="row vertical-gap">
            <div class="col-md-3 col-sm-4 pl-15 pr-40 pt-25">
                <div class="nk-ibox-3 nk-ibox-hover">
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title text-color-main">We Improve Your Visibility and Presence Online</h3>
                        <span>All major social media giants, such as Google+, Facebook Twitter, Instagram, Pinterest and LinkedIn are targeted.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 pl-15 pr-40 pt-25">
                <div class="nk-ibox-3">
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title text-color-main">We Provide Help with Targeting the Correct Audience</h3>
                        <span>As every business is different and has a unique target audience, we carry out a thorough analysis and research to find the best-suited customer base for your website. Our aim is to provide the required audience for your business both locally and globally.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 pl-15 pr-40 pt-25">
                <div class="nk-ibox-3 nk-ibox-hover">
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title text-color-main">Good Reputation is a Key to Success</h3>
                        <span>We all know that business reputation on social media is vital. Thus, we will make every effort to ensure a good reputation for your business on social media websites. IT Daddy Corp dedicated team will actively follow any social media resources that your business may have, making sure that all comments or queries from any user are not left unattended. We don’t use bots to generate comments or fake audience, everything is done by real people and is dedicated to your business.</span>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 pl-15 pr-40 pt-25">
                <div class="nk-ibox-3 nk-ibox-hover">
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title text-color-main">Individual Approach to Each Business</h3>
                        <span>We understand that each business is unique in its own way, and there is not such a thing as a template social media campaign that would work for any business model. Thus, our team will spend enough time to analyze and research your business to have an in-depth understanding of how you operate, so that we can offer the best social media campaign strategy for your company.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-gap-4"></div>
    </div>

    <div class="container d-service-ca pt-50 pb-50">
        <div class="title">Tailor-made Strategy</div>
        <p>Every business needs an individual marketing strategy that meets all special requirements of the company, together with a customized design of your website that goes in hand with your marketing plan.</p>
        <a href="#" class="d-btn d-btn-regular">Get in touch</a>
    </div>
    <div class="nk-gap-4"></div>
{% endblock %}

{% block js %}
    <script src="/js/index.js"></script>
{% endblock %}