{% extends "_layout.twig" %}

{% block title %}Marketing Agency in Canada|SEO|PPC|SMM|Web Development and Design |
    {{ parent() }}
{% endblock %}
{% block content %}
    {% include 'components/_hero.twig' %}
    {% include 'components/_benefits.twig' %}
    {% include 'components/_image-block.twig' with { title: 'We know what to do', text: ' You can be a business shark and still unable to keep up with impetuous speed of today’s online world. And it’s okay. If you have us.<br>
We will do our best for your business to shine at the forefront of virtual world so you can totally focus on real life decisions, the ones which means the most in pursuing the success.<br><br>
                    IT Daddy is a Canada based digital marketing, SEO & web design company. We have come to boost your business in global network, raising your company’s popularity and delivering new customers. We consciously work on a limited amount of projects per year to ensure maximum involvement of our specialists in your issue.' } %}
    <div class="nk-gap-6"></div>
    {% include 'components/_portfolio.twig' %}
    {% include 'components/_counters.twig' %}
    {% include 'components/_call-to-action-2.twig' %}
{% endblock %}

{% block js %}
    <script src="/js/index.js?v={{assetVersion}}"></script>
{% endblock %}