@import "vendors/bootstrap.min";
@import "vendors/ionicons.min";
@import "components/base";

body {
  background: #000;
}

#computer {
  transform-origin: center bottom;
  animation: showComputer 1.5s ease-in, bounceComputer 4s 1.5s infinite;
}
#shadow {
  animation: showShadow 2s, scaleShadow 4s 1.5s infinite;
}
#hole {
  transform-origin: center center;
  animation: scaleHoleUp 0.6s, scaleHoleDown 1s 1.5s;
  -webkit-animation-fill-mode: forwards;
}
#code-cover-screen {
  animation: scrollCodeIn 3s 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#scrolling-code {
  animation: scrollCode 3s 3.5s linear infinite;
}
#scrolling-code-2 {
  animation: scrollCode2 3s 3.5s linear infinite;
  transform: translateY(87px);
}

@keyframes showComputer {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes showShadow {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleHoleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleHoleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes bounceComputer {
  0%,
  100% {
    animation-timing-function: ease-in-out;
    transform: translateY(0);
  }
  18% {
    animation-timing-function: ease-in-out;
    transform: translateY(-10px);
  }
  36% {
    animation-timing-function: ease-in-out;
    transform: translateY(6px);
  }
  52% {
    animation-timing-function: ease-in-out;
    transform: translateY(-8px);
  }
  68% {
    animation-timing-function: ease-in-out;
    transform: translateY(2px);
  }
  80% {
    animation-timing-function: ease-in-out;
    transform: translateY(-4px);
  }
}
@keyframes scaleShadow {
  0%,
  100% {
    animation-timing-function: ease-in-out;
    transform: scale(1);
  }
  18% {
    animation-timing-function: ease-in-out;
    transform: scale(1.05);
  }
  36% {
    animation-timing-function: ease-in-out;
    transform: scale(1.01);
  }
  53% {
    animation-timing-function: ease-in-out;
    transform: scale(1.04);
  }
  68% {
    animation-timing-function: ease-in-out;
    transform: scale(1.02);
  }
  80% {
    transform: scale(1.03);
  }
}
@keyframes scrollCodeIn {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(180px);
    opacity: 1;
  }
}
@keyframes scrollCode {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  49.99% {
    transform: translateY(-80px);
    opacity: 1;
  }
  50% {
    transform: translatey(87px);
    opacity: 0;
  }
  50.01% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scrollCode2 {
  0% {
    transform: translateY(87);
    opacity: 1;
  }
  49.99% {
    transform: translateY(0);
    opacity: 1;
  }
  99.98% {
    transform: translatey(-80px);
    opacity: 1;
  }
  99.99% {
    transform: translateY(87);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.floating-text-mob {
  @media (min-width: 1000px) {
    br {
      display: none;
    }
  }
}

.nk-navbar .nk-nav .dropdown {
  margin-top: 12px !important;
}

.slide-3 {
  p {
    color: #fff;
  }

  svg {
    height: 80px;
    padding-bottom: 20px;
  }
}
.slide-4 {
  ul {
    padding: 0;
    margin-bottom: 30px;
    padding-right: 40px;
  }

  .col-wrap {
    margin-bottom: 40px;
  }
  li {
    line-height: 26px;
  }

  .nk-ibox-cont {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;

    a {
      margin-top: auto;
    }
  }
}

.slide-5 {
  ul {
    padding: 0;
    margin-bottom: 30px;
    padding-right: 40px;
  }

  .middle-col {
    align-items: center;
    display: flex;
  }
  li {
    line-height: 26px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  li {
    color: #fff;
    font-weight: normal;
  }

  .blue {
    color: #4991e2;
  }

  div {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.pb_2 {
  padding-bottom: 20px;
}

.slide-6 {
  .icons {
    text-align: center;
  }
  h3 {
    color: #fff;
    padding: 10px 0 20px 0;
  }

  .icon-heading {
    h3 {
      font-size: 16px;

      @media (min-width: 440px) {
        font-size: 18px;
      }

      @media (min-width: 1000px) {
        font-size: 22px;
      }
    }
  }

  p {
    line-height: 26px;
    color: #fff;
    padding-right: 40px;
  }

  svg {
    height: 80px;
  }
}

.audit-page {
  h2 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
  }

  .white-list {
    span {
      color: #fff;
    }
  }
  p {
    margin-bottom: 0;

    span {
      display: block;
      color: #9b9b9b;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .d-service-text {
    padding-bottom: 30px;

    @media (min-width: 768px) {
      padding-right: 40px;
    }

    @media (min-width: 1248px) {
      padding-right: 100px;
    }
  }
}
