{% extends "_layout.twig" %}

{% block headerCss %}
    nk-navbar-autohide nk-navbar-transparent nk-navbar-sticky nk-navbar-fixed nk-navbar-solid nk-onscroll-show{% endblock %}

{% block content %}
    <div class="nk-fullpage d-our-work-list">

        <div class="nk-fullpage-item" style="background-image: url('/assets/images/port-2.jpg');">
            <div>
                <div class="container">
                    <div class="nk-portfolio-text-box bg-black">
                        <h2 class="nk-portfolio-title h3">At The Edge of The Abyss</h2>
                        <div class="nk-portfolio-links">May 21, 2018</div>
                        <div class="nk-gap"></div>
                        <p>Fill good whose make days face had likeness in shall make divided days tree, without i evening multiply light won't stars said green, days it day thing divided called is Seasons saying whales them divide. Kind divide above herb fowl.</p>
                        <div class="nk-gap"></div>
                        <div class="text-dark-1">
                            <a href="/project.html" class="d-btn d-btn-border-bot">
                                View project
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-fullpage-item" style="background-image: url('/assets/images/port-1.jpg');">
            <div>
                <div class="container">
                    <div class="nk-portfolio-text-box bg-black">
                        <h2 class="nk-portfolio-title h3">At The Edge of The Abyss</h2>
                        <div class="nk-portfolio-links">May 21, 2018</div>
                        <div class="nk-gap"></div>
                        <p>Fill good whose make days face had likeness in shall make divided days tree, without i evening multiply light won't stars said green, days it day thing divided called is Seasons saying whales them divide. Kind divide above herb fowl.</p>
                        <div class="nk-gap"></div>
                        <div class="text-dark-1">
                            <a href="/project.html" class="d-btn d-btn-border-bot">
                                View project
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-fullpage-item" style="background-image: url('/assets/images/port-2.jpg');">
            <div>
                <div class="container">
                    <div class="nk-portfolio-text-box bg-black">
                        <h2 class="nk-portfolio-title h3">At The Edge of The Abyss</h2>
                        <div class="nk-portfolio-links">May 21, 2018</div>
                        <div class="nk-gap"></div>
                        <p>Fill good whose make days face had likeness in shall make divided days tree, without i evening multiply light won't stars said green, days it day thing divided called is Seasons saying whales them divide. Kind divide above herb fowl.</p>
                        <div class="nk-gap"></div>
                        <div class="text-dark-1">
                            <a href="/project.html" class="d-btn d-btn-border-bot">
                                View project
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-fullpage-item" style="background-image: url('/assets/images/port-1.jpg');">
            <div>
                <div class="container">
                    <div class="nk-portfolio-text-box bg-black">
                        <h2 class="nk-portfolio-title h3">At The Edge of The Abyss</h2>

                        <div class="nk-portfolio-links">May 21, 2018</div>
                        <div class="nk-gap"></div>
                        <p>Fill good whose make days face had likeness in shall make divided days tree, without i evening multiply light won't stars said green, days it day thing divided called is Seasons saying whales them divide. Kind divide above herb fowl.</p>
                        <div class="nk-gap"></div>
                        <div class="text-dark-1">
                            <a href="/project.html" class="d-btn d-btn-border-bot">
                                View project
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script src="/js/index.js"></script>
{% endblock %}