{% extends "_layout.twig" %}

{% block title %}
    About us -
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="nk-box text-white desktop-margin d-header-style-2 d-header-style-2--about">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-left d-header-text-container">
                <h1>
                    About us<span class="d-cursor">_</span>
                </h1>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <div class="container">
        <div class="nk-gap-4"></div>
        <p class="d-service-text">
            You Always Have to Work On Your Businesses Online Presence and Performance.
            <br><br>
            We specialize in providing creative, beautifully designed, innovative and SEO friendly website design, with a mobile-friendly version, as well as the development of the customized web projects. We are proud to be the world’s leading company with a team of the most skilled and professional web designers who provide the top services in the industry.<br><br>
            We understand that our customers have a solid expertise in their business and rely on us at IT Daddy LTD to do our best to provide the most efficient results. We have an individual approach to each customer, as every business we work with is unique in its own sense.<br><br>
            Our team of web design specialists is dedicated to what they are doing, they are eager to learn new technologies and skills, and are always looking for innovative techniques that they can experiment with. The main goal of IT Daddy LTD is to provide clear and easy, and at the same time interactive web design to our customers.
        </p>
        <div class="nk-gap-3"></div>
    </div>

    <div class="container d-icon-boxes d-icon-boxes--small">
        <div class="row vertical-gap">
            <div class="col-md-4 col-sm-6 pl-15 pr-40 pt-25">
                <div class="nk-ibox-3 nk-ibox-hover">
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title text-color-main">Lovely custom made web design</h3>
                        <span>Website with a clean and beautiful interface, together with interactive pages’ layout will provide a better experience for your users, which will result in better conversion rate and will let your business stay on top of the competition</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 pl-15 pr-40 pt-25">
                <div class="nk-ibox-3">
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title text-color-main">Special focus on ROI</h3>
                        <span>Our team is devoted to providing effective tools for your website to reach out to your potential customers in the best way possible and create new leads, as we understand the importance of all your online marketing efforts.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 pl-15 pr-40 pt-25">
                <div class="nk-ibox-3 nk-ibox-hover">
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title text-color-main">Responsive design</h3>
                        <span>Research shows that nowadays over 70% of users prefer to use their smartphones to browse websites. Thus, we offer the top class services that also include a fully responsive design for all smartphone and tablet devices, offering your end customer the best user experience.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-gap-4"></div>
    </div>
    <!-- START: Members -->
    <div class="nk-box d-members">
        <div class="container">
            <div class="row vertical-gap text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <img src="assets/images/faces/alex.svg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Alex</h3>
                    <h4 class="nk-sub-title op-5">Sales</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <img src="assets/images/faces/bokta.svg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Ed</h3>
                    <h4 class="nk-sub-title op-5">Marketing / SEO</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <img src="assets/images/faces/kolpakov.svg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Kolpakoff</h3>
                    <h4 class="nk-sub-title op-5">Coding ninja</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <img src="assets/images/faces/trafimaf.svg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Serge</h3>
                    <h4 class="nk-sub-title op-5">Design</h4>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Members -->

    {% include 'components/_call-to-action-2.twig' %}

{% endblock %}

{% block js %}
    <script src="/js/index.js?v={{assetVersion}}"></script>
{% endblock %}