{% extends "_layout.twig" %}

{% block content %}
    <div class="nk-box text-white desktop-margin d-header-style-2">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-left d-header-text-container">
                <h1>
                    About us<span class="d-cursor">_</span>
                </h1>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <div class="container">
        <div class="nk-gap-2"></div>
        {% include 'components/_image-block.twig' with { icon: 'wwd-design.svg', title: 'Web development and design', text: 'Things move fast in today’s online world; often much too fast for the average business owner to keep up. We focus on keeping your business at the forefront of the internet so you can worry about the day-to-day business decisions that made you (or will make you) successful in the first place.' } %}
        {% include 'components/_image-block.twig' with { icon: 'wwd-seo.svg', imageLeft: true, title: 'Organic SEO', text: 'Things move fast in today’s online world; often much too fast for the average business owner to keep up. We focus on keeping your business at the forefront of the internet so you can worry about the day-to-day business decisions that made you (or will make you) successful in the first place.' } %}
        {% include 'components/_image-block.twig' with { icon: 'wwd-social.svg', title: 'Social media', text: 'Things move fast in today’s online world; often much too fast for the average business owner to keep up. We focus on keeping your business at the forefront of the internet so you can worry about the day-to-day business decisions that made you (or will make you) successful in the first place.' } %}
        {% include 'components/_image-block.twig' with { icon: 'wwd-ppc.svg', imageLeft: true, title: 'Pay per click', text: 'Things move fast in today’s online world; often much too fast for the average business owner to keep up. We focus on keeping your business at the forefront of the internet so you can worry about the day-to-day business decisions that made you (or will make you) successful in the first place.' } %}
    </div>

    <!-- START: Members -->
    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row vertical-gap">
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <img src="assets/images/team-member-1.jpg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Gregory Walker</h3>
                    <h4 class="nk-sub-title text-dark-1 op-5">CEO</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <img src="assets/images/team-member-2.jpg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Emily Foster</h3>
                    <h4 class="nk-sub-title text-dark-1 op-5">Frontend Developer</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <img src="assets/images/team-member-3.jpg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Jack Carlson</h3>
                    <h4 class="nk-sub-title text-dark-1 op-5">Backend Developer</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <img src="assets/images/team-member-4.jpg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Claudia Mckinney</h3>
                    <h4 class="nk-sub-title text-dark-1 op-5">Marketing Manager</h4>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Members -->

    {% include 'components/_call-to-action-2.twig' %}

{% endblock %}

{% block js %}
    <script src="js/index.js"></script>
{% endblock %}