{% extends "_layout.twig" %}

{% block content %}
    <div class="nk-box text-white desktop-margin d-header-style-2">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-left d-header-text-container">
                <h1>What we do<span class="d-cursor">_</span></h1>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <div class="container">
        <div class="nk-gap-2"></div>
        {% include 'components/_image-block.twig' with { linkText: 'Learn more', link:'/what-we-do/web-development', icon: 'wwd-design.svg', title: 'Web development and design', text: 'Contemporary design trends make websites look very similar, furthermore not providing necessary functionality to convert random visitors into paying clients.<br><br>If your website, your one of the strongest money-making tools on the internet, is too resembling to others and doesn’t really earn, be our guest – let our experts enliven it and make it work on you!<br><br>We make websites which aim to attract your potential clients making them want to purchase from you. And if it’s continuously optimized to be easily found in search engines, expect for the best results.' } %}
        {% include 'components/_image-block.twig' with { linkText: 'Learn more', link:'/what-we-do/organic-seo', icon: 'wwd-seo.svg', imageLeft: true, title: 'Organic SEO', text: 'Search engine optimization (SEO) is that tricky thing that make your website visible. Despite all your effort to make it attractive itself, without SEO it’s like a beautiful ghost.<br><br>Google gets billions of search requests daily, and most of us don’t even look further the first page. Do you know which page your website appears on? If not among the first, you need us. We’ll do it our best to introduce your business to the online world.' } %}
        {% include 'components/_image-block.twig' with { linkText: 'Learn more', link:'/what-we-do/social-media', icon: 'wwd-social.svg', title: 'Social Media Marketing', text: 'Social media - the place some of us can be reached easier than in one\'s house. Rely on IT Daddy team, and get social media campaigns with perceptible effects.<br><br>We know how deal with your business profile in Facebook, Twitter, LinkedIn, Pinterest, Instagram, Snapchat, Tumblr and YouTube. Everything we do  has a strategy beneath – with each campaign we invest in a long-term value of your company. Our experts will bring out the best of your social media profiles using a mixture of organic and sponsored attention of your potential clients.' } %}
        {% include 'components/_image-block.twig' with { linkText: 'Learn more', link:'/what-we-do/ppc', icon: 'wwd-ppc.svg', imageLeft: true, title: 'Pay Per Click', text: 'Let’s be honest, surplus of offers makes us lazy. Especially when it comes to making decision on something virtual, something we cannot touch. That’s why 98% of internet searchers don\'t even look on Page 2 in Google. But worries aside, IT Daddy  has a solution.<br><br>Pay-per-click (PPC) is an internet advertising model which catches your potential customer’s attention and brings to your website. You only pay when advertisement is being clicked on. PPC works best in cooperation with SEO, and as a certified Google Partner IT Daddy team will make you wonder how many clients have slipped past you.' } %}
        <div class="nk-gap-4"></div>
    </div>

    {% include 'components/_portfolio-heading.twig' %}
{% endblock %}

{% block js %}
    <script src="/js/index.js?v={{assetVersion}}"></script>
{% endblock %}