{% extends "_layout.twig" %}

{% block title %}Organic SEO Search Engine Optimization Services in Canada |
    {{ parent() }}
{% endblock %}

{% block metaDesc %}Marketing Agency Canada based Organic SEO & Organic Search Engine Optimization Agency. We make websites rank high in google organic search result{% endblock %}

{% block content %}
    <div class="nk-box text-white desktop-margin">
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-left d-header-text-container">
                <h1>
                    Audit plan<span class="d-cursor">_</span>
                </h1>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-gap-3"></div>

    <div class="container audit-page">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2>Website internal optimization (Website audit) Action plan Technical audit</h2>
                <p class="d-service-text">
                    <span>1. Robots.txt</span>
                    <span>2. Sitemap XML</span>
                    <span>3. Broken links</span>
                    <span>4. «Infinite pages»</span>
                    <span>5. Page 404 availability. Work ethics</span>
                    <span>6 . Primary mirror</span>
                    <span>7. Page duplicates</span>
                    <span>8. Web-analytic systems</span>
                    <span>9. Assigning the region (if website is at promotion stage)</span>
                    <span>10. Internal links</span>
                    <span>11. Friendly URL</span>
                    <span>12. Website loading speed</span>
                    <span>13. Trash in the code</span>
                    <span>14. Noindex tag</span>
                    <span>15. Non-clickable menu item in its category. Logo clickability.</span>
                    <span>16. Whether breadcrumbs are installed</span>
                    <span>17. Whether encoding is specified in the code</span>
                    <span>18. Absolute and relative internal links</span>
                    <span>19. HTML validator</span>
                    <span>20. CSS validator</span>
                    <span>21. Inspection of additional errors, that may affect website loading speed and its displaying accuracy</span>
                </p>
                <h2>Page indexing</h2>
                <p class="d-service-text">
                    <span>1. Indexing accuracy. The amount of pages in the main Google, Bing and Yahoo indexes, and the amount in the total index.</span>
                    <span>2. Website is not filtered out</span>
                    <span>3. Are there affiliate websites?</span>
                </p>
                <h2>Relinking</h2>
                <p class="d-service-text">
                    <span>1. Spam level</span>
                    <span>2. The correct distribution of web page weight (if website is at promotion stage)</span>
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <h2>Content</h2>
                <p class="d-service-text">
                    <span>1. Updating frequency</span>
                    <span>2. The amount of competitors’ topical content in the top 10 of the primary requests (if website is at promotion stage)</span>
                    <span>3. Texts’ size (if website is at promotion stage)</span>
                    <span>4. Text uniqueness</span>
                    <span>5. If there is an over-optimized content. Overspam.</span>
                    <span>6. Readability</span>
                    <span>7. Spellchecking</span>
                </p>

                <h2>Optimization</h2>
                <p class="d-service-text">
                    <span>1. Website structure. Addresses, friendly URL, nesting.</span>
                    <span>2. Meta-data</span>
                    <span>3. Images</span>
                    <span>4. Titles</span>
                    <span>5. Contact details</span>
                </p>

                <h2>Other important points for promotion</h2>
                <p class="d-service-text">
                    <span>1. Social buttons and widgets on the website</span>
                    <span>2. How attractive are the snippets of your pages to the user?</span>
                    <span>3. Micro-layout</span>
                    <span>4. If Favicon is present</span>
                    <span>5. If the company is listed on Google maps, 2Gis, Bing Maps</span>
                </p>

                <h2>Link audit</h2>
                <p class="d-service-text">
                    <span>1. Backlinks analysis (if website is at promotion stage)</span>
                    <span>2. Outbound links analysis (if website is at promotion stage)</span>
                    <span>3. Competitors’ link weight analysis (if website is at promotion stage)</span>
                </p>
            </div>
        </div>
    </div>

    <div class="nk-gap-4"></div>

{% endblock %}

{% block js %}
    <script src="/js/index.js?v={{assetVersion}}"></script>
{% endblock %}