{% extends "_layout.twig" %}

{% block title %}Organic SEO Search Engine Optimization Services in Canada |
    {{ parent() }}
{% endblock %}

{% block metaDesc %}Marketing Agency Canada based Organic SEO & Organic Search Engine Optimization Agency. We make websites rank high in google organic search result{% endblock %}

{% block content %}
    <div class="nk-box text-white desktop-margin">
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-left d-header-text-container">
                <h1>
                    Competitors audit<span class="d-cursor">_</span>
                </h1>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-gap-3"></div>

    <div class="container audit-page">
        <div class="row">
            <div class="col-6">
                <h2>Collecting information on:</h2>
                <p class="d-service-text">
                    <span>• context</span>
                    <span>• organic search delivery</span>
                    <span>• promotion type</span>
                    <span>• usability differences, Comparative tech audit</span>
                    <span>• Price comparison, work conditions comparison</span>
                    <span>• Regional representation</span>
                </p>
                <h2>Competitors website audit</h2>
                <p class="d-service-text">
                    <span>Competitors analysis – is the first report that needs to be done before starting the actual promotion:</span>
                    <span>- Domain requests in Google Adwords/ Yahoo / Bing;</span>
                    <span>- Unique ads in Google Adwords/ Yahoo / Bing;</span>
                    <span>- Domain requests for Google, Bing or Yahoo search outputs</span>
                    <span>- URL visibility in Google, Bing or Yahoo search outputs and its comparison in TOP 10</span>
                    <span>- Domain’s competitors in search output</span>
                </p>
                <h2>Competitor’s domain requests</h2>
                <p class="d-service-text">
                    <span>1. Calls to action</span>
                    <span>2. Contacts</span>
                    <span>3. Warnings and tips</span>
                    <span>4. Products on the website. Compliance with design according to all rules and standards</span>
                    <span>5. Payment methods</span>
                    <span>6. Product description and photos quality</span>
                    <span>7. Reviews, rating, comments</span>
                    <span>8. Special offers</span>
                    <span>9. Product card. Convenience and clarity</span>
                    <span>10. A possibility to cancel all actions</span>
                    <span>11. Social media pages’ links</span>
                </p>
                <h2>Content design and layout</h2>
                <p class="d-service-text">
                    <span>1. Titles</span>
                    <span>2. Main content</span>
                    <span>3. Links in text</span>
                    <span>4. Themes and colours</span>
                    <span>5. Tagging</span>
                    <span>6. Readability</span>
                    <span>7. Capital letters</span>
                    <span>8. Text aligning</span>
                    <span>9. Font size</span>
                    <span>10. Fonts style</span>
                </p>
            </div>
            <div class="col-6">
                <h2>Information architecture</h2>
                <p class="d-service-text">
                    <span>1. Main</span>
                    <span>2. Menu names and categories</span>
                    <span>3. Number of buttons/links in the menu</span>
                    <span>4. Search on website</span>
                    <span>5. NL</span>
                    <span>6. URL</span>
                </p>

                <h2>Website design</h2>
                <p class="d-service-text">
                    <span>1. The important information is located in the top window of vertical scrolling;</span>
                    <span>2. A good contrast of text and background</span>
                    <span>3. The style corresponds to the theme</span>
                    <span>4. The correct colours are used</span>
                    <span>5. Website structure</span>
                    <span>6. Blank space</span>
                </p>

                <h2>Identification</h2>
                <p class="d-service-text">
                    <span>1. Company logo</span>
                    <span>2. Tagline</span>
                    <span>3. Main page awareness, its clarity.</span>
                    <span>4. Favicon</span>
                    <span>5. About Us and Contacts pages</span>
                </p>

                <h2>
                    You have up to 7 seconds to convince user People make a decision whether to stay on the website or leave it by looking at its appearance and usability and only then decide whether to trust the site or not.
                </h2>

                <h2>Website accessibility</h2>
                <p class="d-service-text">
                    <span>1. Custom page with 404 error</span>
                    <span>2. Text areas as images</span>
                    <span>3. Clickable logo</span>
                    <span>4. All forms and modules. Efficiency The correct website usability reduces the number of visitor refusals and increases the number of sales on the website. Therefore, such an important aspect as "Website usability” should not be overlooked.</span>
                </p>

                <h2>Make your website as convenient and accessible to any user as possible and in return, you will get a good growth and credibility of the website.</h2>
            </div>
        </div>
    </div>

    <div class="nk-gap-4"></div>

{% endblock %}

{% block js %}
    <script src="/js/index.js?v={{assetVersion}}"></script>
{% endblock %}