{% extends "_layout.twig" %}

{% block title %}Organic SEO Search Engine Optimization Services in Canada |
    {{ parent() }}
{% endblock %}

{% block metaDesc %}Marketing Agency Canada based Organic SEO & Organic Search Engine Optimization Agency. We make websites rank high in google organic search result{% endblock %}

{% block content %}
    <div class="nk-box text-white desktop-margin">
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="text-left d-header-text-container">
                <h1>
                    Plan of action<span class="d-cursor">_</span>
                </h1>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-gap-3"></div>

    <div class="container audit-page">
        <div class="row">
            <div class="col-6">
                <h2>Step-by-step promotion</h2>
                <h2>Phase 1. Preparation</h2>
                <p class="d-service-text">
                    <span>1) Project’s technical analysis.</span>
                    <span>2) Selection or correction of the keyword requests, choosing the landing pages.</span>
                    <span>3) Carrying out internal optimization works (if necessary)</span>
                    <span>4) Usability analysis, based on websites that are already in TOP, website structure and textual component recommendations.</span>
                </p>
                <h2>Timescale:</h2>
                <p class="d-service-text">
                    <span>20 - 25 working days</span>
                </p>
                <h2>The scope of work in Phase 1 includes:</h2>
                <p class="d-service-text">
                    <span>1. Compiling the Semantic Core;</span>
                    <span>2. Carrying out the website audit and usability analysis based on competitors’ analysis, and writing recommendations for improving the website and the text component;</span>
                    <span>3. Drafting the technical task for the copywriter (if necessary) with required keywords entry;</span>
                    <span>4. Meta tag analysis (search and correction of the duplicates);</span>
                    <span>5. Writing the new meta tags for keywords requests;</span>
                    <span>6. Robots.txt check, making the necessary corrections: turning off “unnecessary” pages indexing (sorting, filters, recycle bin, cabinet);</span>
                    <span>7. Main mirror setup, correcting the page duplicates;</span>
                    <span>8. .htaccess file check, making the necessary corrections;</span>
                    <span>9. Creating and adding the website map sitemap.xml, and the correct configuration of its contents;</span>
                    <span>10. Checking the titles, making the necessary corrections;</span>
                    <span>11. Checking the 404 Error configuration accuracy, making the necessary corrections;</span>
                    <span>12. Checking for the broken links, eliminating them.</span>
                    <span>13. Checking for the hidden texts/links, making the necessary corrections;</span>
                    <span>14. Error Checking for Google, Bing and Yahoo, making the necessary corrections;</span>
                    <span>15. Checking for the manual filter.</span>
                    <span>16. Checking for the broken links, rectification;</span>
                    1<span>7. Checking for Canonical, its accuracy and necessity;.</span>
                    <span>18. Checking if redirection settings are correct, making the necessary corrections;</span>
                    <span>19. Checking the CSS and HTML code errors, making the necessary corrections;</span>
                    <span>20. Checking for the volumetric code, that affects the page loading speed (positioning them in a separate file);</span>
                </p>
            </div>
            <div class="col-6">
                <p class="d-service-text">
                    <span>21. Checking for relinking between the website pages, making the necessary corrections;</span>
                    <span>22. Checking for registered alt and title attributes for images, making the necessary corrections;</span>
                    <span>23. Closing the indexing from all external outbound website links;</span>
                    <span>24. Setting up objectives in Google Analytics, Yahoo and Bing;</span>
                    <span>25. A set of measures to speed up the loading of the website pages (enabling the browser cashing, compression of images, compression of css and html files).</span>
                </p>

                <h2>Separate Payment</h2>
                <p class="d-service-text">
                    <span>26. Creating website’s mobile version.</span>
                    <span>27. Installing Secure HTTPS protocol. A violation of the resource functionality and minor temporary failures in the layout are allowed in the process of fixing technical defects of the website. Such a factor may occur because the processes are carried out on the operating website.</span>
                </p>

                <h2>Work results after the first phase:</h2>
                <p class="d-service-text">
                    <span>- An optimized and fully ready for promotion website that meets the basic technical requirements of search engines;</span>
                    <span>- A list of key requests for priority sections; Phase 2. Active promotion</span>
                    <span>The phase of sequentially positioning project in the top, starting with the priorities and completing with the whole website. Positive dynamics of traffic growth throughout the whole phase.</span>
                </p>

                <h2>Timescale:</h2>
                <p class="d-service-text">
                    <span>Minimum of 4 months</span>
                </p>

                <h2>The scope of work in Phase 2 includes:</h2>
                <p class="d-service-text">
                    <span>1. Placing natural links on the blogs and forums with good traffic.<br>
                        By doing this, we get not only links to the website, but also targeted traffic of users who can become real clients or simply improve behavioral factors;</span>
                    <span>2. Placing internal links from one page of the website to another in order to transfer more weight to more important pages;</span>
                    <span>3. Adding the website to free catalogs (adding to the paid catalogs is discussed separately)</span>
                    <span>4. Placing a video about the website on various trusted resources (youtube, bing, vimeo, aol, bright cove, hulu, amazon s3, netflix, blinks, dailymotion, linkedin, facebook, twitter, tumblr, iTunes, flickr, veoh, viddler);</span>
                    <span>5. Placing comments with an active link on the website;</span>
                    <span>6. Placing links in the TOP social media groups;</span>
                    <span>7. Placing links on the classified advertisement websites.</span>
                </p>

            </div>
        </div>
    </div>

    <div class="nk-gap-4"></div>

{% endblock %}

{% block js %}
    <script src="/js/index.js?v={{assetVersion}}"></script>
{% endblock %}